# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 906b61e3aef20810ae79e9b5a6f9a0bc23b2877c9e316f6ccd9a8469831ce41722af12f5f04fde9be243279bd0c1455b119f00748ffa4b4e8e1bedf3d7ab890c

test:
  secret_key_base: 6870c5c35ac93d9cf875cc59f9c301f3afeb56b5558b6dfda043caab64d6596199804101f3c96e0e3691e72642cf5d168a8faead44f29eef7863ce25c5043357

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
